# This file contains all the development requirements for our linting toolchain.
# Don't forget to pin your dependencies!
# This list will have to be migrated if you wish to use another dependency manager.

# Base tools
flake8~=4.0.1
isort~=5.10.1
pre-commit~=2.17.0

# Flake8 plugins, see https://github.com/python-discord/code-jam-template/tree/main#plugin-list
flake8-docstrings~=1.6.0
pep8-naming~=0.13.1
flake8-class-attributes-order~=0.1.3
flake8-unused-arguments~=0.0.10
flake8-variables-names~=0.0.5

# testing tools
pytest~=7.1.2
coverage~=6.4.2

# static analysis
mypy~=0.971
