@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: hsl(var(--b1));
  color: hsl(var(--bc));
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
